---
layout: default
title: Booking
lang: en
---

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/algemeen.jpg %}" alt="View in the campsite" />
	</div>
	Scout Campsite Bieslandse Bos is a <a href="{% link en/campsite.html %}"></a>spacious campsite where a total of around {{ capaciteit_approx }} Scouts can camp.
</p>
<p>
	Our site is always available to hiking Scouts or Scouts passers-by, no matter how busy we are.
</p>
<p>
	In some weekends, it can be so busy that you might prefer other siter or perhaps another date.
	Most times however, we will have sufficient capacity.
</p>
<p>
	During summer holidays, we have a lower limit for the number of campers.
	This way we can keep the quality of camping at the required standard.
	Should you want to visit us in July, be prepared to book well in advance!
</p>

<h1>Prices</h1>

<table class="table table-hover">

	<tr>
		<th></th>
		<th class="text-end">Scouting</th>
		<th class="text-end">Non-profit</th>
	</tr>

{% for prijs in site.data.prijzen.prijzen %}

	<tr>
		<td>{{ prijs.en }}</td>
		<td class="text-end">{{ prijs.scout | format_money }}</td>
		<td class="text-end">{{ prijs.nonprofit | format_money }}</td>
	</tr>

{% endfor %}

</table>

<h2>Booking office</h2>

<p>
	To make a reservation or other questions about availability, please contact our Booking office.
	This can be done by e-mail to <a href="mailto:{{ site.email }}">{{ site.email }}</a> or by using the <a href="{% link en/booking-form.html %}">reservation form</a>.
	Calling the campsite with questions about reservations or availability is useless.
</p>

<h2>Conditions of use</h2>

<ul>
{% for vw in site.data.regels.voorwaarden %}
	<li>{{ vw.en }}</li>
{% endfor %}
</ul>

<p>
	Read our <a href="{% link en/camprules.md %}">camprules</a> and make sure the members of your group are familiar with these regulations. And act accordingly.
</p>

<p>
	Information <a href="{% link en/emergency.html %}">in case of emergency</a>.
</p>
