---
layout: default
title: Our campsite
lang: en
---

<script src="{% link assets/scripts/terrein.js %}"></script>

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	On our campsite are {{ aantal }} fields available for camping, ranging in size from {{ min_opp }} m&sup2; till {{ max_opp }} m&sup2;.
	This gives us a capacity of approximately {{ capaciteit_approx }} people.
	There is always a field, or a combination of fields, that fits the size of your camp.
	Select a field or a general facility on the map for more information.
</p>

<div class="row terrein">

	<div class="map col-md-4">
		{% include terrein.svg %}
	</div>

	<div class="col-md-8">

		{% for veld in site.data.terrein.velden %}

		<div class="veld-info" id="list_veld_{{ veld.id }}">

			<h2>Field {{ veld.naam }}{% if veld.nr != 0 %}<small> (nr {{ veld.nr }})</small>{% endif %}</h2>

			{% if veld.image != "" %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ veld.image }}"
					alt="{{ veld.naam }}" title="{{ veld.naam }}" class="img-rounded veld-foto">
			</div>
			{% endif %}

			<p>
				{{ veld.en }}
			</p>
			<ul>
				{% if veld.dimensies.x != 0 %}
				<li>Dimensions &asymp; {{ veld.dimensies.x }} m &times; {{ veld.dimensies.y }} m</li>
				{% endif %}
				{% if veld.dimensies.oppervlakte != 0 %}
				<li>Surface &asymp; {{ veld.dimensies.oppervlakte }} m&sup2;</li>
				{% endif %}
				{% if veld.capaciteit != 0 %}
				<li>Capacity &asymp; {{ veld.capaciteit }} persons</li>
				{% endif %}
				<li>{% if veld.stookplaats %}Fireplace available{% else %}No fireplace available{% endif %}</li>
			</ul>

		</div>

		{% endfor %}

		{% for fac in site.data.terrein.faciliteiten %}

		<div class="veld-info" id="list_fac_{{ fac.id }}">

			<h2>{{ fac.naam }}</h2>

			{% for img in fac.images %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ img }}"
					alt="{{ fac.naam }}" title="{{ fac.naam }}" class="img-rounded veld-foto">
			</div>
			{% endfor %}

			{% for txt in fac.en %}
			<p>{{ txt }}</p>
			{% endfor %}

		</div>

		{% endfor %}

	</div>

</div>

<h2>General information</h2>

<ul>
	<li>
		The map above of our campsite is a very schematic view.
		Most of our fields are <b>not square</b>.
	</li>
	<li>
		The mentioned sizes of the fields are an approximation to indicate the size.
	</li>
	<li>
		On almost every field it is possible to get electricity.
		Uil, Valk, Lijster, Merel and Havik have their own plug.
		With extension cords you can bring electricity to the other fields.
		You have to bring your own extension cords.
		For Gans, Sperwer and Torenvalk it is very difficult to get electricity there because of the distance.
	</li>
	<li>
		You can <a href="{% link assets/downloads/terrein-2021-08-15.pdf %}">download</a> a pdf with the map of the campsite.
	</li>
</ul>
