---
layout: default
title: In case of emergency
lang: en
---

<h1>In case of emergency</h1>

<table class="table table-hover">

	{% for nood in site.data.noodhulp.noodhulp %}

	<tr>
		<td>
			{% if nood.url != "" %}
				<a href="{{ nood.url }}">{{ nood.en }}</a></td>
			{% else %}
				{{ nood.en }}
			{% endif %}
		</td>
		<td>
			{% if nood.call != "" %}
				<a href="tel:{{ nood.call }}">{{ nood.phone}}</a>
				<i class="fas fa-phone" aria-hidden="true"></i>
			{% else %}
				{{ nood.phone }}
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>

<p>
	The GP centre, emergency department and 24-hours pharmacy all are located in the Reinier de Graaf Hospital:<br/>
	<a href="https://www.google.nl/maps/place/Reinier+de+Graafweg+5+Delft">
		Reinier de Graafweg 5, Delft
	</a>
</p>
