---
layout: default
lang: de
---

<div>
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/toegangspoort.jpg %}" alt="Eingangstor Zeltplatz" />
	</div>
	<div class="col-md-2 col-lg-1 d-none d-xs-none d-sm-none d-md-block float-end">
		<img class="img img-fluid float-end" src="{% link assets/images/sn-logo.svg %}" alt="Scouting Nederland Logo" />
	</div>
	<p>
		Willkommen auf dem Pfadfinder&shy;zeltplatz Bieslandse Bos.
	</p>
	<p>
		<a href="{% link de/zeltplatz.html %}">Unser Zeltplatz</a> ligt zwischen Delft und Zoetermeer.
	</p>
	<p>
		Es gibt <a href="{% link de/moglichkeiten.md %}">umfangreiche Möglichkeiten</a> für Mitglieder von Scouting in und um die Site.
		Das Bieslandse Bos ist mit <a href="{% link de/nahe.html %}">mehreren Städten</a> in Rad- oder Straßenbahnentfernung der ideale Ort für ein Wochenende oder ein Sommercamp.
	</p>
</div>
