---
layout: default
title: Reservierung oder Auskünfte beantragen
lang: de
permalink: /de/reservieren/form.html
---

<h1>{{ page.title }}</h1>

<p>
	Sie bitten, wir antworten. Weil eben erst nach unserer Antwort die Reservierung festliegt.
</p>

<hr/>

<form action="{{ site.mail_form_url }}" method="post">

	<input type="hidden" name="subject" value="Reservering website BB (Duits)">
	<input type="hidden" name="body" value="Binnengekomen op de website: ">
	<input type="hidden" name="nextpage" value="{{ site.url }}{% link de/reservieren-form-tnx.md %}">
	<input type="text" name="nietgebruiktenaam" class="d-none">

	<h2>Frage</h2>
	<ul>
		<li>
			<label for="r1">
				<input type="radio" name="Vraag" id="r1" value="Definitieve boeking">
				Reservierung festlegen
			</label>
		</li>
		<li>
			<label for="r2">
				<input type="radio" name="Vraag" id="r2" value="Optie / vermoedelijke boeking">
				Vermutliche Reservierung
			</label>
		</li>
		<li>
			<label for="r3">
				<input type="radio" name="Vraag" id="r3" value="Vrijblijvende vraag">
				Unverbindliche Anfrage
			</label>
		</li>
	</ul>

	<h2>Datum</h2>
	<div class="form-group row">
		<label for="perio_van" class="col-sm-2 col-form-label">Von</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_van" name="perio_van" placeholder="dd-mm-yyyy" aria-label="Von" aria-describedby="perio_van">
		</div>
		<label for="aankomst" class="col-sm-2 col-form-label">Ankunft</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="aankomst" name="aankomst" placeholder="uu:mm" aria-label="Ankunft" aria-describedby="aankomst">
		</div>
	</div>
	<div class="form-group row">
		<label for="perio_tm" class="col-sm-2 col-form-label">Bis</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="perio_tm" name="perio_tm" placeholder="dd-mm-yyyy" aria-label="Bis" aria-describedby="perio_tm">
		</div>
		<label for="vertrek" class="col-sm-2 col-form-label">Abreise</label>
		<div class="col-sm-4">
			<input type="tekst" class="form-control" id="vertrek" name="vertrek" placeholder="uu:mm" aria-label="Abreise" aria-describedby="vertrek">
		</div>
	</div>

	<h2>Gruppenangaben</h2>
	<p>
		<div class="form-group row">
			<label for="groep" class="col-sm-2 col-form-label">Gruppe / Stamm / Verband</label>
			<div class="col-sm-10">
				<input type="text" name="groep" class="form-control" aria-label="Gruppe" aria-describedby="groep">
			</div>
		</div>

		<div class="form-group row">
			<label for="groepsplaats" class="col-sm-2 col-form-label">Aus</label>
			<div class="col-sm-10">
				<input type="text" name="groepplaats" class="form-control" aria-label="Gruppe Ort" aria-describedby="groepplaats">
			</div>
		</div>

		<div class="form-group row">
			<label for="personen" class="col-sm-2 col-form-label">Anzahl Personen</label>
			<div class="col-sm-10">
				<input type="text" name="personen" class="form-control" aria-label="Anzahl Personen">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="Onderdeel" class="col-sm-2 col-form-label">Stufen</label>
			<div class="col-sm-10">
				<select name="Onderdeel" multiple size="6" class="custom-select">
					<option selected>-Bitte wählen-</option>
					<option>Wölflinge / Wichtel</option>
					<option>Pfadfinder / Pfadfinderinnen</option>
					<option>Rover</option>
					<option>Ranger</option>
					<option>Leiter / Leiterinnen</option>
				</select>
			</div>
		</div>
	</p>

	<p>
		<h3>Kontaktperson</h3>
		<div class="form-group row">
			<label for="Naam" class="col-sm-2 col-form-label">Name *</label>
			<div class="col-sm-10">
				<input type="text" name="Naam" size="49" class="form-control" aria-label="Name" aria-describedby="naam" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="from" class="col-sm-2 col-form-label">Email *</label>
			<div class="col-sm-10">
				<input type="email" name="from" size="49" class="form-control" aria-label="from" aria-describedby="from" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="telefoon" class="col-sm-2 col-form-label">Handy / tel. *</label>
			<div class="col-sm-10">
				<input type="text" name="Telefoon" size="49" class="form-control" aria-label="Handy / tel." aria-describedby="telefoon" required>
			</div>
		</div>

		<div class="form-group row">
			<label for="Adres" class="col-sm-2 col-form-label">Adresse</label>
			<div class="col-sm-10">
				<input type="text" name="Adres" size="49" class="form-control" aria-label="Adresse" aria-describedby="adres">
			</div>
		</div>

		<div class="form-group row">
			<label for="postcode" class="col-sm-2 col-form-label">Postleitzahl</label>
			<div class="col-sm-10">
				<input type="text" name="Postcode" size="12" class="form-control" aria-label="Postleitzahl" aria-describedby="postcode">
			</div>
		</div>

		<div class="form-group row">
			<label for="plaats" class="col-sm-2 col-form-label">Wohnort</label>
			<div class="col-sm-10">
				<input type="text" name="Woonplaats" size="49" class="form-control" aria-label="Wohnort" aria-describedby="plaats">
			</div>
		</div>
	</p>

	<p>
		<div class="form-group row">
			<label for="plaats" class="col-sm-2 col-form-label">Spezifische Fragen oder Bemerkungen (bes. über den Platz)</label>
			<div class="col-sm-10">
				<textarea name="Opmerking" rows="6" cols="52" class="form-control"></textarea>
			</div>
		</div>
	</p>

	<button type="submit" class="btn btn-success">Senden</button>
</form>

<hr>

<p>
	<a href="mailto:{{ site.email }}">Direkt mailen mit dem Reservierungsbüro.</a>
</p>
