---
layout: default
title: Reservieren
lang: de
---

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/algemeen.jpg %}" alt="Blick auf der Zeltplatz" />
	</div>
	Der Bieslandse Bos ist ein <a href="{% link de/zeltplatz.html %}">weitläufiges Zeltplatz</a>, in dem insgesamt rund {{ capaciteit_approx }} Pfadfinder campen können.
</p>
<p>
	Op het terrein is voor hikende Scouts altijd plaats, hoe groot de drukte ook is.
</p>
<p>
	Für Sommercamps gelten Höchstgrenzen in Bezug auf die Anzahl der Gruppen und/oder Personen, andernfalls geht dies zu Lasten der Qualität des Lagers.
	Wenn Sie uns im Juli besuchen möchten, sollten Sie sich auf eine frühzeitige Buchung einstellen!
	Das Aufrufen der Zeltplatz mit Fragen zu Reservierungen macht keinen Sinn.
</p>

<h1>Preisen</h1>

<table class="table table-hover">

	<tr>
		<th></th>
		<th class="text-end">Pfadfinder</th>
		<th class="text-end">Gemeinnützig</th>
	</tr>

{% for prijs in site.data.prijzen.prijzen %}

	<tr>
		<td>{{ prijs.de }}</td>
		<td class="text-end">{{ prijs.scout | format_money }}</td>
		<td class="text-end">{{ prijs.nonprofit | format_money }}</td>
	</tr>

{% endfor %}

</table>

<h2>Reservierungsbüro</h2>

<p>
	Für eine Reservierung oder andere Fragen zur Verfügbarkeit wenden Sie sich bitte an unser Reservierungsbüro.
	Dies kann per E-Mail an <a href="mailto:{{ site.email }}">{{ site.email }}</a> oder über das <a href="{% link de/reservieren-form.html %}">Reservierungsformular</a> erfolgen.
</p>

<h2>Bedingungen</h2>

<ul>
{% for vw in site.data.regels.voorwaarden %}	
	<li>{{ vw.de }}</li>	
{% endfor %}
</ul>

<p>
	Lesen sie unsere <a href="{% link de/platzordnung.md %}">Platzordnung</a> und informiere die Mitglieder deiner Gruppe darüber. Und Bitte beachte diese Regeln.
</p>

<p>
	Informationen <a href="{% link de/notfall.html %}">im Notfall</a>.
</p>
