---
layout: default
title: Unsere Zeltplatz
lang: de
---

<script src="{% link assets/scripts/terrein.js %}"></script>

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	Auf unserem Zeltplatz stehen {{ aantal }} Stellplätze von {{ min_opp }} m&sup2; bis {{ max_opp }} m&sup2; zur Verfügung.
	Dies gibt uns eine Kapazität von ca. {{ capaciteit_approx }} Personen.
	Es gibt immer ein Feld oder eine Kombination von Feldern, die der Größe Ihres Lagers entspricht.
	Wählen Sie ein Feld oder eine allgemeine Einrichtung auf der Karte aus, um weitere Informationen zu erhalten.
</p>

<div class="row terrein">

	<div class="map col-md-4">
		{% include terrein.svg %}
	</div>

	<div class="col-md-8">

		{% for veld in site.data.terrein.velden %}

		<div class="veld-info" id="list_veld_{{ veld.id }}">

			<h2>Feld {{ veld.naam }}{% if veld.nr != 0 %}<small> (nr {{ veld.nr }})</small>{% endif %}</h2>

			{% if veld.image != "" %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ veld.image }}"
					alt="{{ veld.naam }}" title="{{ veld.naam }}" class="img-rounded veld-foto">
			</div>
			{% endif %}

			<p>
				{{ veld.de }}
			</p>
			<ul>
				{% if veld.dimensies.x != 0 %}
				<li>Abmessungen &asymp; {{ veld.dimensies.x }} m &times; {{ veld.dimensies.y }} m</li>
				{% endif %}
				{% if veld.dimensies.oppervlakte != 0 %}
				<li>Grundfläche &asymp; {{ veld.dimensies.oppervlakte }} m&sup2;</li>
				{% endif %}
				{% if veld.capaciteit != 0 %}
				<li>Kapazität &asymp; {{ veld.capaciteit }} Personen</li>
				{% endif %}
				<li>{% if veld.stookplaats %}Lagerfeuermöglichkeit vorhanden{% else %}Lagerfeuermöglichkeit nicht vorhanden{% endif %}</li>
			</ul>

		</div>

		{% endfor %}

		{% for fac in site.data.terrein.faciliteiten %}

		<div class="veld-info" id="list_fac_{{ fac.id }}">

			<h2>{{ fac.naam }}</h2>

			{% for img in fac.images %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ img }}"
					alt="{{ fac.naam }}" title="{{ fac.naam }}" class="img-rounded veld-foto">
			</div>
			{% endfor %}

			{% for txt in fac.de %}
			<p>{{ txt }}</p>
			{% endfor %}

		</div>

		{% endfor %}

	</div>

</div>

<h2>Allgemeine Auskünfte</h2>

<ul>
	<li>
		Die obenstehende Karte unseres Zeltplatzes ist eine sehr schematische Ansicht.
		Die meisten unserer Felder sind <b>nicht quadratisch</b>.
	</li>
	<li>
		Die angegebenen Abmessungen der Felder sind Näherungswerte zur Angabe der Größe.
	</li>
	<li>
		Auf fast jedem Feld ist es möglich, Strom zu beziehen.
		Uil, Valk, Lijster, Merel und Havik haben ihren eigenen Steckplatz.
		Die anderen Felder können mit Verlängerungskabeln mit Strom versorgt werden.
		Sie müssen diese Verlängerungskabel mitnehmen.
		Für Gans, Sperwer und Torenvalk ist es aufgrund der Entfernung sehr schwierig, dort Strom zu bekommen.
	</li>
	<li>
		Sie können ein pdf mit dem Plan des Zeltplatzes <a href="{% link assets/downloads/terrein-2021-08-15.pdf %}">herunterladen</a>.
	</li>
</ul>
