---
layout: default
permalink: /404.html
title: Pagina niet gevonden
sitemap: false
---

<h1>Pagina niet gevonden</h1>

<p><strong>The requested page could not be found.</strong></p>

<div class="col-md-4 float-end">
	<img class="img-rounded img-fluid float-end" src="{% link assets/images/404.jpg %}" alt="Afgebroken tent" />
</div>

<p>
	Dat is erg jammer.
	Blijkbaar is de pagina waar je naar zocht, net als deze tent, inmiddels afgebroken.
</p>
<p>
	Ga naar de <a href="{% link index.html %}">startpagina</a> om daar verder te zoeken naar de juiste informatie.
</p>
