---
layout: default
---

<div class="clearfix content-heading">
	<div class="col-md-4 float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/toegangspoort.jpg %}" alt="Toegangspoort kampeerterrein" />
	</div>
	<div class="col-md-2 col-lg-1 d-none d-xs-none d-sm-none d-md-block float-end">
		<img class="img img-fluid float-end" src="{% link assets/images/sn-logo.svg %}" alt="Scouting Nederland Logo" />
	</div>
	<p>
		Welkom op de website van Scouting&shy;kampeerterrein Bieslandse Bos.
	</p>
	<p>
		Wij zijn <a href="{% link nl/terrein.html %}">een kampeerterrein</a> dat is ingericht voor groepen (scouting)kampeerders.
		Ons terrein ligt mooi gelegen in een gevarieerd bos in de 'groene long' tussen Delft en Zoetermeer in het hartje van de randstad.
	</p>
	<p>
		Natuur, cultuur en avontuur gaan in onze omgeving hand in hand.
		Op en rondom ons terrein zijn <a href="{% link nl/mogelijkheden.md %}">voldoende mogelijkheden</a> voor een mooi programma voor kamperende leden van Scouting.
		Maar ook <a href="{% link nl/omgeving.html %}">steden als Delft en Den Haag</a> zijn om de hoek.
	</p>
	<p>
		Kortom, het Bieslandse Bos is het ideale terrein voor voor jullie weekend of zomerkamp.
	</p>
</div>

<script type="text/javascript" src="/assets/scripts/news.js"></script>
