<a class="navbar-brand js-scroll-trigger" href="{% link de/index.html %}">
	<img class="logo" src="{% link assets/images/logo.svg %}" alt="Logo" title="Bieslandse Bos" /> Bieslandse Bos
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	Menu
	<i class="bi bi-list"></i>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ms-auto">
		<li>
			<a class="navigation-link"  href="{% link de/zeltplatz.html %}">Zeltplatz</a>
		</li>
		<li>
			<a class="navigation-link"  href="{% link de/reservieren.html %}">Reservieren</a>
		</li>
		<li>
			<a class="navigation-link" href="{% link de/moglichkeiten.md %}">M&ouml;glichkeiten</a>
		</li>
		<li>
			<a class="navigation-link"  href="{% link de/about.md %}">&Uuml;ber uns</a>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{% link de/index.html %}"><img src="{% link assets/images/vlag_de.gif %}" alt="DE" /><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a class="lang-selection" href="{% link index.html %}"><img src="{% link assets/images/vlag_nl.gif %}" alt="NL" /> Nederlands</a></li>
				<li><a class="lang-selection" href="{% link en/index.html %}"><img src="{% link assets/images/vlag_uk.gif %}" alt="EN" /> English</a></li>
			</ul>
		</li>
	</ul>
</div>
