{% assign aantal = 0 %}
{% assign capaciteit = 0 %}
{% assign max_opp = 0 %}
{% assign min_opp = 10000 %}

{% for veld in site.data.terrein.velden %}
	{% assign aantal = aantal | plus: 1 %}
	{% assign capaciteit = capaciteit | plus: veld.capaciteit %}
	{% if veld.dimensies.oppervlakte != 0 %}
		{% if veld.dimensies.oppervlakte > max_opp %}
			{% assign max_opp = veld.dimensies.oppervlakte %}
		{% endif %}
		{% if veld.dimensies.oppervlakte < min_opp %}
			{% assign min_opp = veld.dimensies.oppervlakte %}
		{% endif %}
	{% endif %}
{% endfor %}

{% assign capaciteit_approx = capaciteit | divided_by: 5 | times: 5 %}
