body
{
	background-color: $white;
	height: 100%;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.2em;
}

nav
{
	font-size: 1.3em;
	background-color: $green;
	color: $white;

	div.container
	{
		background-color: $green;

		a:link, a:visited, a:active
		{
			color: $white;
			text-decoration: none;
		}

		a:hover
		{
			color: $white;
			text-decoration: underline;
		}
	}

	.navbar-brand
	{
		font-family: 'Baloo';
		font-size: 1.5em;

		@media screen and (max-width: 600px)
		{
			font-size: 1.2em;
		}
	}

	button.navbar-toggler
	{
		color: $white !important;
	}

	.navigation-link
	{
		color: $white;
		padding-left: 10px;
		padding-right: 10px;
	}

	img.logo
	{
		width: 60px;

		@media screen and (max-width: 600px)
		{
			display: none;
		}
	}

	a.lang-selection
	{
		color: $green !important;
		padding-left: 0.5em;
	}
}

section
{
	div.container
	{
		padding-top: 20px;
		margin-top: 100px;
		background-color: $white;
	}
}

section.post
{
	.post-date {
		float: right;
		margin: 0;
	}

	.post-arch {
		list-style: none;
	}
}

h1, h2
{
	font-family: 'Baloo';
	color: $green;
}

h3, h4
{
	font-family: 'Baloo';
	color: $black;
}

legend
{
	color: $green;
}

address
{
	font-weight: bold;
}

a:link, a:visited, a:active
{
	color: lighten($green, 10%);
	text-decoration: none;
}

a:hover
{
	color: lighten($green, 10%);
	text-decoration: underline;
}

.footer
{
	padding-top: 15px;
	color: $green;

	a:link, a:visited, a:active
	{
		color: $green;
		text-decoration: none;
	}

	a:hover
	{
		color: $green;
		text-decoration: underline;
	}
}

.img-rounded
{
	border-radius: 12px;
	padding: 0.25em;
}

td
{
	vertical-align: top;
}

::selection {
	background: $green;
	color: $white;
}

div.terrein
{
	div.veld-info
	{
		display: none;
	}

	img.veld-foto
	{
		margin-bottom: 0.5em;
	}

	svg
	{
		width: 100%;

		g#layer_water
		{
			fill: $water;
			stroke: $water;
			stroke-width: 1.25;
		}

		g#layer_faciliteiten
		{
			fill: $white;
			stroke: $facility;
			cursor: pointer;

			:hover, .active
			{
				fill: $facility;
			}
		}

		g#layer_velden
		{
			fill: $white;
			stroke: $green;
			cursor: pointer;

			:hover, .active
			{
				fill: $green;
			}
		}

		g#layer_paden
		{
			fill: none;
			stroke: $black;
			stroke-width: 0.25;
		}
	}

	img
	{
		width: 100%;
	}
}

form
{
	ul
	{
		padding-left: 0;

		li
		{
			list-style-type: none;
		}
	}
}
