---
layout: default
title: In geval van nood
---

<h1>In geval van nood</h1>

<table class="table table-hover">

	{% for nood in site.data.noodhulp.noodhulp %}

	<tr>
		<td>
			{% if nood.url != "" %}
				<a href="{{ nood.url }}">{{ nood.nl }}</a></td>
			{% else %}
				{{ nood.nl }}
			{% endif %}
		</td>
		<td>
			{% if nood.call != "" %}
				<a href="tel:{{ nood.call }}">{{ nood.phone}}</a>
				<i class="fas fa-phone" aria-hidden="true"></i>
			{% else %}
				{{ nood.phone }}
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>

<p>
	De huisartsenpost, spoedeisende hulp en 24-uurs apotheek zijn allemaal gevestigd in het Reinier de Graaf ziekenhuis:<br/>
	<a href="https://www.google.nl/maps/place/Reinier+de+Graafweg+5+Delft">
		Reinier de Graafweg 5, Delft
	</a>
</p>
