---
layout: default
title: In de omgeving
---

<h1>{{ page.title }}</h1>

<p>
	<div class="col-md-4 d-none d-md-block float-end">
		<img class="img-rounded img-fluid float-end" src="{% link assets/images/omgeving.jpg %}" alt="{{ page.title }}" />
	</div>
	Het Bieslandse Bos ligt in de Randstad, met diverse interessante steden op fiets- of tramafstand.
</p>

{% for stad in site.data.omgeving.steden %}

<h2>{{ stad.naam }}</h2>

<p>
	{{ stad.nl }}
</p>

<ul>
{% for attractie in stad.attracties %}
	<li><a href="{{ attractie.url }}" target="_blank">{{ attractie.nl }}</a></li>
{% endfor %}
</ul>

{% endfor %}
