---
layout: default
title: Ons terrein
---

<script src="{% link assets/scripts/terrein.js %}"></script>

<h1>{{ page.title }}</h1>

{% include terrein_bereken.liquid %}
<p>
	Op ons terrein zijn {{ aantal }} velden beschikbaar voor kampeerders, vari&euml;rend in grootte van {{ min_opp }} m&sup2; tot {{ max_opp }} m&sup2;.
	Daarmee hebben wij een plaats voor ongeveer {{ capaciteit_approx }} kampeerders.
	Er is dus altijd een veld, of meerdere velden, dat precies past bij de grootte van jouw kamp.
	Selecteer een veld of algemene faciliteit in de plattegrond voor meer informatie.
</p>

<div class="row terrein">

	<div class="map col-md-4">
		{% include terrein.svg %}
	</div>

	<div class="col-md-8">

		{% for veld in site.data.terrein.velden %}

		<div class="veld-info" id="list_veld_{{ veld.id }}">

			<h2>Kampeerveld {{ veld.naam }}{% if veld.nr != 0 %}<small> (nr {{ veld.nr }})</small>{% endif %}</h2>

			{% if veld.image != "" %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ veld.image }}"
					alt="{{ veld.naam }}" title="{{ veld.naam }}" class="img-rounded veld-foto">
			</div>
			{% endif %}

			<p>
				{{ veld.nl }}
			</p>
			<ul>
				{% if veld.dimensies.x != 0 %}
				<li>Afmetingen &asymp; {{ veld.dimensies.x }} m &times; {{ veld.dimensies.y }} m</li>
				{% endif %}
				{% if veld.dimensies.oppervlakte != 0 %}
				<li>Oppervlakte &asymp; {{ veld.dimensies.oppervlakte }} m&sup2;</li>
				{% endif %}
				{% if veld.capaciteit != 0 %}
				<li>Capaciteit &asymp; {{ veld.capaciteit }} personen</li>
				{% endif %}
				<li>{% if veld.stookplaats %}Stookvoorziening aanwezig{% else %}Geen stookvoorziening aanwezig{% endif %}</li>
			</ul>

		</div>

		{% endfor %}

		{% for fac in site.data.terrein.faciliteiten %}

		<div class="veld-info" id="list_fac_{{ fac.id }}">

			<h2>{{ fac.naam }}</h2>

			{% for img in fac.images %}
			<div>
				<img
					src="{% link assets/images/loading.svg %}"
					data-img="{{ site.baseurl }}/assets/images/terrein/{{ img }}"
					alt="{{ fac.naam }}" title="{{ fac.naam }}" class="img-rounded veld-foto">
			</div>
			{% endfor %}

			{% for txt in fac.nl %}
			<p>{{ txt }}</p>
			{% endfor %}

		</div>

		{% endfor %}

	</div>

</div>

<h2>Algemene informatie</h2>

<ul>
	<li>
		De bovenstaande kaart van ons terrein is een zeer schematische weergave.
		Veel van onze velden zijn <b>niet rechthoekig</b>.
	</li>
	<li>
		De genoemde maten van de velden zijn benaderingen ter indicatie van de grootte.
	</li>
	<li>
		Op vrijwel ieder veld is het mogelijk om elektriciteit te krijgen.
		Uil, Valk, Lijster, Merel en Havik hebben hun eigen stroompunt.
		Naar de overige velden kan met verlengsnoeren stroom gebracht worden.
		Deze verlengsnoeren dien je zelf mee te nemen.
		Voor Gans, Sperwer en Torenvalk is het lastig om daar elektriciteit te krijgen gezien de afstand.
	</li>
	<li>
		Je kunt een pdf van de plattegrond van het terrein <a href="{% link assets/downloads/terrein-2021-08-15.pdf %}">downloaden</a>.
	</li>
</ul>
