<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ page.description | default: site.description }}">
	<meta name="generator" content="Jekyll v{{ jekyll.version }}">
	<meta name="theme-color" content="{{ site.colors.green }}" />
	<link rel="stylesheet" href="{% link assets/css/bundle.scss %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans|Baloo">
	<link rel="icon" href="{% link assets/images/favicon.ico %}" type="image/x-icon">
	<link rel="canonical" href="{{ page.url | absolute_url }}" />
	<link rel="manifest" href="{% link assets/manifest.json %}" />
	<script src="{% link lib/jquery.min.js %}"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="container">
			{% if page.lang == "en" %}
				{% include nav_en.html %}
			{% elsif page.lang == "de" %}
				{% include nav_de.html %}
			{% else %}
				{% include nav_nl.html %}
			{% endif %}
		</div>
	</nav>

	<section>
		<div class="container">
			{{ content }}
		</div>
	</section>

	<footer class="footer container">
		{% if page.lang == "en" %}
			{% include footer_en.html %}
		{% elsif page.lang == "de" %}
			{% include footer_de.html %}
		{% else %}
			{% include footer_nl.html %}
		{% endif %}
	</footer>

	<script src="{% link lib/popper.min.js %}"></script>
	<script src="{% link lib/bootstrap.bundle.min.js %}"></script>

{% if jekyll.environment == "production" %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G53XDGFKD7"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-G53XDGFKD7');
</script>
{% endif%}

</body>
</html>
