---
layout: default
lang: en
---

<h2>Field {{ page.naam }}{% if page.nr != 0 %}<small> (nr {{ page.nr }})</small>{% endif %}</h2>

{% if page.image != "" %}
<div>
	<img src="{{ site.baseurl }}/assets/images/terrein/{{ page.image }}" alt="{{ page.naam }}" title="{{ page.naam }}" class="img-rounded">
</div>
{% endif %}

<p>
	{{ page.en }}
</p>
<ul>
	{% if page.dimensies.x != 0 %}
	<li>Dimensions &asymp; {{ page.dimensies.x }} m &times; {{ page.dimensies.y }} m</li>
	{% endif %}
	{% if page.dimensies.oppervlakte != 0 %}
	<li>Surface &asymp; {{ page.dimensies.oppervlakte }} m&sup2;</li>
	{% endif %}
	{% if page.capaciteit != 0 %}
	<li>Capacity &asymp; {{ page.capaciteit }} persons</li>
	{% endif %}
	<li>{% if veld.stookplaats %}Fireplace available{% else %}No fireplace available{% endif %}</li>
</ul>
