---
layout: default
---

<h2>Kampeerveld {{ page.naam }}{% if page.nr != 0 %}<small> (nr {{ page.nr }})</small>{% endif %}</h2>

{% if page.image != "" %}
<div>
	<img src="{{ site.baseurl }}/assets/images/terrein/{{ page.image }}" alt="{{ page.naam }}" title="{{ page.naam }}" class="img-rounded">
</div>
{% endif %}

<p>
	{{ page.nl }}
</p>
<ul>
	{% if page.dimensies.x != 0 %}
	<li>Afmetingen &asymp; {{ page.dimensies.x }} m &times; {{ page.dimensies.y }} m</li>
	{% endif %}
	{% if page.dimensies.oppervlakte != 0 %}
	<li>Oppervlakte &asymp; {{ page.dimensies.oppervlakte }} m&sup2;</li>
	{% endif %}
	{% if page.capaciteit != 0 %}
	<li>Capaciteit &asymp; {{ page.capaciteit }} personen</li>
	{% endif %}
	<li>{% if page.stookplaats %}Stookvoorziening aanwezig{% else %}Geen stookvoorziening aanwezig{% endif %}</li>
</ul>
